// Loading @wordpress/base-styles as they have mixins and other dependencies
// used within @wordpress/*/src/*.scss
@import "~@wordpress/base-styles/animations";
@import "~@wordpress/base-styles/breakpoints";
@import "~@wordpress/base-styles/colors";
@import "~@wordpress/base-styles/mixins";
@import "~@wordpress/base-styles/variables";
@import "~@wordpress/base-styles/z-index";

// @wordpress package styles
@import "~@wordpress/components/src/style.scss";
@import "~@wordpress/block-editor/src/style.scss";
@import "~@wordpress/block-library/src/style.scss";
@import "~@wordpress/block-library/src/theme.scss";
@import "~@wordpress/block-library/src/editor.scss";
@import "~@wordpress/format-library/src/style.scss";

$system-stack:
	-apple-system,
	BlinkMacSystemFont,
	'Segoe UI',
	Roboto,
	Oxygen,
	Ubuntu,
	Cantarell,
	'Open Sans',
	'Helvetica Neue',
	sans-serif !important;

/**
 * Reset
 */
.screen-reader-text {
	border: 0;
	clip: rect(1px, 1px, 1px, 1px);
	-webkit-clip-path: inset(50%);
	clip-path: inset(50%);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
	word-wrap: normal !important;
}

:root {
	@include reset;
}

.block-editor-block-list__block:before {
	content: none;
}

html,
body {
	margin: 0;
	padding: 0;
	font-family: $default-font;
	font-size: $default-font-size;
}

.editor-styles-wrapper {
	font-family: $editor-font;
	font-size: $editor-font-size;
	line-height: $editor-line-height;
	color: $dark-gray-900;

	p {
		font-size: inherit;
		line-height: inherit;
	}

	ul,
	ol {
		margin: 0;
		padding: 0;
	}

	ul li,
	ol li {
		margin-bottom: initial;
	}

	ul {
		list-style-type: disc;
	}

	ol {
		list-style-type: decimal;
	}

	ul ul,
	ol ul {
		list-style-type: circle;
	}

  /**
   * Default editor styles
   */
	.wp-block {
		max-width: 700px;
		margin-left: auto;
		margin-right: auto;
  }

	.wp-block[data-align='wide'] {
		max-width: 1100px;
  }

	.wp-block[data-align='full'] {
		max-width: none;
	}
}

/**
 * Playground styles
 */
#wpwrap {
	margin-left: 0;

	> #wpcontent {
		margin-left: 0;
		padding-left: 0;

		> #wpbody {
			display: none;
		}
	}
}

#screen-meta-links {
	display: none;
}

.playground {
	min-height: 100%;
	font-family: $system-stack;

	* {
		font-family: $system-stack;
	}

	img {
		max-width: 100%;
		height: auto;
	}

	iframe {
		width: 100%;
	}

	.components-navigate-regions {
		height: 100%;
  }

  @include break-small() {
		width: calc(100% - #{$sidebar-width});
  }

  &__sidebar {
    position: fixed;
    top: 30px;
    right: 0;
    bottom: 0;
    width: $sidebar-width;
    border-left: $border-width solid $light-gray-500;
    height: auto;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
		display: none;
		background: white;

    @include break-small() {
      display: block;
		}

		label {
			font-size: 1rem;
		}
	}

	.block-editor-block-list__layout {
		min-height: 100vh;
	}
}

/**
 * Animations
 */
@keyframes edit-post__fade-in-animation {
	from {
		opacity: 0;
  }

	to {
		opacity: 1;
	}
}
