doctype html
html(lang="en")
  head
    title Gutenberg Playground
    link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Noto+Serif:400,700")
  body
    #playground
    script(src="js/playground.js")